/*------------------------------
	ご挨拶
------------------------------*/


#main_contents h2 {
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	top: 50px;
	left: 55px;
}
.main_contents {
	width: 980px;
	margin: 0 auto;
	padding-top: 145px;
	z-index: 1;
	position: relative;
}
.main_contents #one-column {
	width: 980px;
	margin:0 auto;
}
.main_contents #one-column .one-column {
	margin: 20px auto;
	overflow: hidden;
	width: 894px;
}

.main_contents #one-column .one-column p{
	font-size:14px;
	line-height:26px;
	}

.main_contents #one-column .one-column-box {
	width: 980px;
	padding: 15px 0;
	background: #FFF;
	margin: 0 auto 40px;
}


.main_contents #one-column h3.contents-title{
	padding:25px 20px;
	background:#FFF url(../images/common/title_bg.jpg) left no-repeat;
	border-bottom:#82c0eb solid 1px;
	font-size:18px;
	margin-bottom:20px;
	}
.main_contents #one-column h4.contents-title{
	padding:25px 20px;
	clear:both;
	background:url(../images/common/title_bg02.jpg) left no-repeat;
	font-size:16px;
	margin-bottom:20px;
	}

#one-column .photo {
	float: left;
	width: 163px;
}
#one-column .photo p {
	margin-top: 15px;
	font-size:12px !important;
	line-height: 17px !important;
}
#one-column .photo p strong {
	font-size: 14px;
	line-height: 28px;
	font-weight: bold;
}

#one-column #right-goaisatsu {
	float:right;
	width:632px;
	}
#one-column #right-goaisatsu p {
	float:right;
	width:300px;
	font-size:14px;
	line-height:26px !important;
	}
#one-column #right-goaisatsu p:first-child {
	float:left;
	}
	
	
#one-column #right-goaisatsu #outline-box {
	padding-top:20px;
	width:632px;
	clear:both;
	}
#one-column #right-goaisatsu #outline-box dl {
	width:610px;
	padding:10px;
	border-bottom:1px #82c0eb solid;
	border-left:1px #82c0eb solid;
	border-right:1px #82c0eb solid;
	overflow:hidden;
	}

#one-column #right-goaisatsu #outline-box dt{
	float:left;
	margin-left:20px;
	line-height:26px;
	width:80px;
	}
	
#one-column #right-goaisatsu #outline-box dt span {
	color:#00a0e9;
	}	
#one-column #right-goaisatsu #outline-box dd{
	float:left;
	line-height:26px;
	margin-left:10px;
	width:470px;
	}
		
		
/* 活動報告	*/	


.photo-katsudou{
	float:left;
	margin-right:24px;
	width:299px;
	}
.photo-katsudou img{
	margin-bottom:10px;
	}	
	
.border-1{
	margin-bottom:20px;
	border-bottom:1px solid #82c0eb;
	}	
	
/* 制度	*/	



.overflow{
	margin-bottom:20px;
	overflow:hidden;}

.seido-txt{
	float:left;
	width:380px;
	}
 p.smool-txt01{
	text-align:left;
	font-size:11px !important;
	line-height:18px !important;
	margin-top:20px;
	}
	
	
	.seido-txt02{
	float:left;
	width:550px;
	}



.seido-txt03{
	float:left;
	width:420px;
	}

.seido-border01{
	float:right;
	width:351px;
	border:3px #64bfe8 solid;
	}


.seido-border01 dl{
	padding:15px;
	overflow:hidden;
	}

.seido-border01 dl dt{
	float:left;
	width:20px;
	color:#00a0e9;
	}

.seido-border01 dl dd{
	float:left;
	width:300px;
	}

.seido-ichiran {
	margin:20px auto 0;
	width:800px;
	font-size:14px;
	overflow:hidden;
	}

.seido-ichiran .box-left {
	width:370px;
	float:left;
	}
.seido-ichiran .box-right {
	width:370px;
	float:right;
	}	
	.seido-ichiran h5{
		padding:5px;
		margin:20px 0 5px;
		color:#FFF;
		text-align:center;
		font-size:16px;
		background:#a1cce0;
		}

.mt20{
	margin-top:20px;
	}



/* 資格	*/
.shikaku-txt{
	overflow:hidden;
	padding-bottom:20px;
	width:100%;
	}

h3.shikaku-title01 {
	padding:6px 20px 10px;
	background:#FFF url(../images/common/title_bg03.jpg) top left no-repeat;
	font-size:16px;
	line-height:28px;
	margin-bottom:40px;
	}
	
h3.shikaku-title02 {
	padding:6px 20px 10px;
	background:#FFF url(../images/common/title_bg04.jpg) top left no-repeat;
	font-size:16px;
	line-height:28px;
	margin-bottom:40px;
	}
	
h3.shikaku-title03 {
	padding:6px 20px 10px;
	background:#FFF url(../images/common/title_bg05.jpg) top left no-repeat;
	font-size:16px;
	line-height:28px;
	margin-bottom:40px;
	}
	
h3.shikaku-title04 {
	padding:6px 20px 10px;
	background:#FFF url(../images/common/title_bg06.jpg) top left no-repeat;
	font-size:16px;
	line-height:28px;
	margin-bottom:40px;
	}			

.shikaku-txt ul.no01,
.shikaku-txt ul.no02,
.shikaku-txt ul.no03,
.shikaku-txt ul.no04 {
	overflow:hidden;
	}
	
.shikaku-txt ul.no01 li,
.shikaku-txt ul.no02 li,
.shikaku-txt ul.no03 li,
.shikaku-txt ul.no04 li {
	font-size:14px;
	margin-right:8px;
	float:left;
	margin-bottom:10px;
	width:290px;
	}	
.shikaku-txt ul.no01 li span{
	color:#82c0eb;
	}
	
.shikaku-txt ul.no02 li span{
	color:#e4007f;
	}	
		

.shikaku-txt ul.no03 li span{
	color:#c8a063;
	}	
	
.shikaku-txt ul.no04 li span{
	color:#f8b62b;
	}	
		
/* よくある質問	*/

#left_nav {
	width:290px;
	float:left;
	}
#left_nav ul {
	margin:0;
	}
#left_nav ul li {
	font-weight:bold;
	background: url(../images/faq/bt_bg.jpg) top left no-repeat;
	}
#left_nav ul li a{
	display:block;
	padding:15px 10px 15px 40px;
	text-align:left;
	width:240px;
	}	
	
#right_q {
	width:667px;
	float:right;
	}
	
#right_q .right_q{
	width:667px;
	margin-bottom:20px;
	}	
	
#right_q .right_q h3 {
	margin-bottom:10px;
	padding:28px 0 25px 30px;
	font-size:18px;
	font-weight:bold;
	background: url(../images/faq/title_bg.jpg) top left no-repeat;
	width:637px;
	}	
#right_q .right_q .txt-a {
	border-bottom:1px;
	padding:20px 30px;
	border-bottom:#b1d2e9 1px solid;
	background:#fff url(../images/faq/a_bg.jpg) top right no-repeat;
	}
#right_q .right_q .txt-a p {
	font-size:14px;
	line-height:26px;
	}	
		
#right_q .right_q .txt-a a{
	color:#00a0e9;
	text-decoration:underline;
	}	