
/*---共通パーツ---*/
#index_main{ 
width:1089px;
	margin:-18px auto 0;
	z-index:0;
	position:relative;
	background:url(../images/index/main_img.jpg) no-repeat top; }


#index_contents {
	width:1030px;
	margin:0 auto;
	padding-top:550px;
	z-index:1;
	position:relative
}

/* left */
.left_contents {
	background:url("../images/index/news_title.png") no-repeat top left;
	width:492px;
	vertical-align:top;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.left_contents .news_box { padding:81px 0 0 23px;}
.left_contents .news {
	background:url("../images/index/news_bg.png") repeat-y top;
	padding:10px 35px 5px;
}
.left_contents .news a {color: #1b87d1;}
.left_contents .news a:hover {text-decoration: underline;}
.left_contents hr {
	margin:10px 0 15px;
	padding:0;
	height:5px;
	background:url("../images/index/news_hr.jpg") repeat-x;
	border:none;
}
.left_contents dt {
	font-size:10px;
	font-weight:bold;
	margin-bottom:5px;
}
.left_contents dd { font-size:13px; }

.left_contents .joho_box {
	margin:20px 0 0 24px;
} 
.left_contents .joho_box a {
	width: 467px;
	height: 51px;
	display: block;
	text-indent: -9999px;
	background:url("../images/index/btn_johokokai_off.png") no-repeat;} 
.left_contents .joho_box a:hover {
	background:url("../images/index/btn_johokokai_on.png") no-repeat;
} 
/* right */
.right_contents {
	width:500px;
	vertical-align:top;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-left:15px;
	margin-top:55px;
}
/**
.area { display:none; }
**/
.tab_box {
	width:493px;
	background:url("../images/index/tab/tab_bg.jpg") repeat;
	position:relative;
	margin-bottom:-20px;
}
.tab_box .area {
	margin:0;
	padding:0;
	position:relative;
	top:-35px;
	left:13px;
    
}
.tab_box .btn {
	position:relative;
    
	z-index:1;
}
.tab_box .tab_area_box {
	width:465px;
	background:#fff;
	border:1px solid #7dc0eb;
	position:relative;
	top:-1px;
	z-index:0;
}
.tab_box p {
	font-size:14px;
	margin:15px auto;
	text-align:center;
}
.tab_box ul { margin:10px auto 10px;}
.tab_area_box ul { margin-left:40px;}
.tab_bunya_box ul { margin-left:15px;}
.tab_area_box li {
	background:url("../images/index/tab/btn_area_off.png") no-repeat left;
	padding:0;
	margin:0 5px 10px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.tab_area_box li:hover { background:url("../images/index/tab/btn_area_on.png") no-repeat left; }
.tab_box .tab_bunya_box {
	width:465px;
	background:#fff;
	border:1px solid #7dc0eb;
	position:relative;
	top:-1px;
	z-index:0;
}
.tab_bunya_box li {
	background:url("../images/index/tab/btn_bunya_off.png") no-repeat left;
	padding:0;
	margin:0 2px 10px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.tab_bunya_box li:hover { background:url("../images/index/tab/btn_bunya_on.png") no-repeat left; }
.meibo_box {
	position:relative;
	background:url("../images/index/meibo_bg.jpg") no-repeat top left;
	width:493px;
	height:78px;
	margin-bottom:1px;
}
.meibo_box ul {
	width:300px;
	position:relative;
	top:20px;
	left:177px;
}
.meibo_box li {
	background:url("../images/index/btn_meibo_off.png") no-repeat left;
	padding:0;
	margin:0 2px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.meibo_box li:hover { background:url("../images/index/btn_meibo_on.png") no-repeat left; }
.about_box {
	position:relative;
	background:url("../images/index/about_bg.png") no-repeat top left;
	width:493px;
	height:117px;
	margin-bottom:35px;
}
.about_box p {
	position:relative;
	top:33px;
	left:15px;
	font-size:10px;
}
.right_contents .contact {	margin-bottom:25px; }
.right_contents .contact li {
	background:url("../images/common/footer_line.png") no-repeat left;
	padding:0 10px 0 15px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}