#main_contents h2 {
	font-size:17px;
	font-weight:bold;
	position:absolute;
	top:50px;
	left:55px;
}
#list_contents {
	width:980px;
	margin:0 auto;
	padding-top:145px;
	z-index:1;
	position:relative;
}

/* left */
.left_contents {
	width:290px;
	vertical-align:top;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	position:relative;
}
.navi_box {
	background:url(../images/index/tab/tab_bg.jpg) repeat left top;
	width:290px;
	position:relative;
	margin-bottom:-17px;
	z-index:0;
}
.navi_box nav {
	width:258px;
	position:relative;
	top:-35px;
	left:16px;
}
.navi_box span {
	position:relative;
	z-index:1;
}
.navi_box ul {
	background:#fff;
	border:1px solid #7dc0eb;
	position:relative;
	top:-1px;
	z-index:0;
	padding:10px 0 15px 0;
}
.navi_box nav li {
	background:url(../images/list/btn_list_off.png) no-repeat left;
	padding:0;
	margin:6px 0 0 10px;
}
.navi_box nav li:hover {
	background:url(../images/list/btn_list_on.png) no-repeat left;
}

/* right */
.right_contents {
	width:670px;
	vertical-align:top;
	display:inline-block;
	*display: inline;
	*zoom: 1;
	margin-left:15px;
}
.right_contents h3 {
	height:80px;
	background:#fff;
	border-bottom:1px solid #7dc0eb;
	color:#000;
	font-size:16px;
	font-weight:bold;
	position:relative;
	margin-bottom:15px;
}
.right_contents h3 span {
	position:relative;
	top:26px;
	left:25px;
}
.right_contents h3 img {
	position:absolute;
	left:535px;
	bottom:3px;
}
.right_contents ul a { text-decoration:none; }
.right_contents ul a:hover { text-decoration:underline; }
.right_contents li {
	background:#fff;
	margin-bottom:15px;
	border-bottom:1px solid #7dc0eb;
	padding:10px 10px 12px;
}
.right_contents li h4 {
	font-size:18px;
	margin-bottom:5px;
}
.right_contents li th {
	vertical-align:top;
	width:30px;
}
.right_contents li td {
	vertical-align:top;
	line-height:21px;
	font-size:13px;
}
.right_contents .toptop {
	text-align:right;
	margin:0 5px 35px 0;
}
.right_contents .toptop a:hover {
	text-decoration:underline;
}
