@charset "UTF-8";

/******* CSS RESET *******/

html{ height:auto; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,figure,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	vertical-align:bottom;
	border:none;
	margin:0;
	padding:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul { list-style:none;}
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after { content:'';}
abbr,acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup { vertical-align:text-top;}
sub { vertical-align:text-bottom; }
input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,textarea,select { *font-size:100%;}
/*because legend doesn't inherit in IE */
legend { color:#000;}

/******CSS STYLE*******/

.left{ float:left; }
.right{ float:right;}
.clear{ clear: both;}
.clearfix {width:100%;}
.clearfix:after{
    content: "";
    display: block;
    clear: both;}
a{
	color:#5a5858;
	text-decoration:none;
}
article a:hover{
	color:#5a5858;
	text-decoration:underline;
}
article a:hover img{
	opacity:0.8;
	filter:alpha(opacity=80);
    -moz-opacity: 0.8;
 }

/******CSS COMMON*******/

/* header */
body {
	height:auto;
	width:100%;
	font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:12px;
	line-height:1.6;
	background:#e6e6e6 url(../images/common/top_bg.jpg) repeat-x top;
	color:#000000;
}
#wrapper{
	width:1100px;
	margin:0 auto;
}
#wrapper header{
	width:984px;
	margin:25px auto 0;
	z-index:1;
	position:relative;
}
header h1{
	width:560px;
	float:left;
	margin-bottom:21px;
}
header .contact{
	width:407px;
	float:right;
	margin-top:10px;
}

header .contact li{
	background:url(../images/common/head_line.png) no-repeat left;
	padding:0 10px 0 15px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}

nav .main_navi{
	background:url(../images/common/nav/nav_bg.png) no-repeat top;
	padding:5px 0 0 3px;
}

nav .main_navi li{
	height:45px;
	background:url(../images/common/nav/nav_line.png) no-repeat left top;
	padding-left:1px;
	margin:0;
	display: table-cell;
	*display: inline;
	*zoom: 1;
}

/* main */
#main_contents{
	width:1089px;
	margin:-18px auto 0;
	z-index:0;
	position:relative;
}

/*footer*/

footer{
	width:980px;
	margin:10px auto 40px;
	clear:both;
}
footer .contact{
	margin-bottom:25px;
}
footer .contact li{
	background:url(../images/common/footer_line.png) no-repeat left;
	padding:0 10px 0 15px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
footer hr{
	height:8px;
	background:url(../images/common/fotter_hr.png) repeat-x;
	margin-bottom:15px;
	padding:0;
	border:none;
}
footer p{ text-align:center; }
.borders{
	border-top:20px solid #e6e6e6;
	z-index:1;
	position:relative;
}

/*---共通パーツ---*/
#main_contents{ background:url(../images/common/main_img.jpg) no-repeat top; }